{% extends 'base.html' %}
{% block title %} Bithday/login {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<!-- div login  -->
<div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card auth-card">
                <div class="card-body">
                    <h4 class="card-title text-center">Login in Birthday</h4>
    
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
    
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
    
                    </form>
                    <p class="change-form-p">already have an account? <a href="/accounts/register">Click here</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}