<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %} {% endblock %}
    </title>
</head>

<body>
    <header>
        <ul>
        {% if user.is_authenticated %}
            <li><a href="/">Friends</a></li>
            <li><a href="#">About</a></li>
        {% else %}
            <li>Friends</li>
            <li>About</li>
        {% endif %}

        {% if user.is_authenticated %}
            <li><a href="/accounts/logout">Exit</a></li>
        {% endif %}

        </ul>
    </header>
    <hr>
    <main>
        {% block content %} {% endblock %}
    </main>
    <hr>
    <footer>
        <h3>Desenvolvido por eu mermo</h3>
    </footer>
</body>

</html>