{% extends 'base.html' %}
{% block title %} your re gonna die {% endblock %}

{% block content %}
<!-- div add friend button -->
<div>
    <a href="createfriend/">ADD FRIEND</a>
</div>
<!-- div filter -->
<div>
    <span>Filter for:</span>
    <select name="filter" id="filter" class="form-control">
        <option value="">Choise a option</option>
        <option value="">Today</option>
        <option value="">This month</option>
        <option value="">Next month</option>
    </select>
</div>
<!-- div search -->
<div>
    <form method="GET" id="search-form">
        <input type="text" name="search" id="search" placeholder="Type the name of the task..."
            value="{{ request.GET.search }}">
        <input type="submit" value="submit">
    </form>
</div>
<!-- div friend list -->
<div>
    <ul>
        {% for friend in friends %}
        <li>
            <span><a href="friend/{{ friend.id }}">{{friend.name}}</a></span>
            <span><a href="editfriend/{{ friend.id }}">EDIT</a></span>
            <span><a href="deletefriend/{{ friend.id }}">REMOVE</a></span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}