{% extends 'base.html' %}
{% block title %} Birthday/{{friend.name}} {% endblock %}

{% block content %}
<div class="content">
    <!-- div friend  -->
    <div class="friend-infos">
        <h4>Name: {{ friend.name }}</h4>
        <h4>Birthday: {{ friend.birthday }}</h4>
        <h4>Age: {{ friend.age }}</h4>
        <h4>Gift: {{ friend.gift }}</h4>
    </div>
    <!-- div actions friend -->
    <div class="friends-actions">
        <span><a href="../editfriend/{{ friend.id }}" class="fas fa-edit">EDIT</a></span>
        <span><a href="../deletefriend/{{ friend.id }}" class="fas fa-trash">REMOVE</a></span>

    </div>
</div>
{% endblock %}